.App {
  text-align: center;
  height: 100vh;
}

.App__logo {
  animation: App__logo-spin infinite 20s linear;
  height: 40px;
}

.App__header {
  background-color: #f2f2f2;
  height: 20%;
  padding: 20px;
  color: #585858;
}

.App__footer {
  background-color: #f2f2f2;
  height: 10%;
  padding: 5%;
  color: #585858;
  align-items: center;
  display: flex;
  justify-content: center;
}

.App__title {
  font-size: 1.5em;
}

.App__intro {
  font-size: large;
}

.App__converter {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  background: #4c90e5;
  height: 36%;
}

.App__input-disabled input {
  border: none;
  padding: 5px 10px;
  outline: none;
  line-height: 1.5;
  background: transparent;
  margin: 0 20px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.App__input-disabled input::placeholder {
  color: white;
  font-weight: bolder;
  text-align: center;
}

.App__input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App__input input {
  border: none;
  padding: 5px 10px;
  outline: none;
  line-height: 1.5;
  border-radius: 5px;
  background: white;
  margin: 0 20px;
}

.App__input input::placeholder {
  text-align: center;
}

.App__converter-button {
  display:inline-block;
  padding: 5px 40px;
  border: none;
  margin-top: 2%;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: transparent;
  font-size: 18px;
}

.App__converter-button:hover {
  color: #4c90e5;
  background-color:#FFFFFF;
}

@keyframes App__logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
